<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Register</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="first_name" name="first_name" type="text" placeholder="Enter Your first name" class="textbox"/></br></br>
                     <input id="last_name" name="last_name" type="text" placeholder="Enter Your last name" class="textbox"/></br></br>
                    <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/></br></br>
                    <input id="passw" name="password" type="passw" placeholder="Enter Your Password" class="textbox"/></br></br>
                    <input id="confirm_passw" name="confirm_passw" type="password" placeholder="Enter Your confirm Password" class="textbox"/></br></br>
                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
            </h2>

          </div>
        </div>
    </body>
</html>